.tox
.build
*.pyc

# Packages
*.rpm

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Logs
logs
sys_test.log

# IDE settings
.idea/*

# Documentation build files
doc/user_guide/_build
